LINE_CHANNEL_SECRET=your_line_channel_secret
LINE_CHANNEL_ACCESS_TOKEN=your_line_channel_access_token
MISUZU_BASE_MODEL_PATH=C:\Users\kator\Desktop\HMSZ\qwen35-9b
MISUZU_LORA_PATH=C:\Users\kator\Desktop\HMSZ\meiling-qwen35-9b-lora
MISUZU_SESSION_ROOT=C:\Users\kator\Desktop\HMSZ\data\line_sessions
MISUZU_IDLE_CONSOLIDATION_SECONDS=600
